.container {
  min-height: calc(100vh - 66px);
  display: flex;
  align-items: center;
}

.img-fluid {
  width: 400px;
  border-radius: 10px;
}

.content h2 {
  margin-bottom: 30px;
}

.content p {
  margin-bottom: 20px;
}

