<div class="container-new-chat">
  <h1>Comment puis-je t'aider aujourd'hui ? </h1>
  <%= simple_form_for [@objective, @chat] do |f| %>
    <%= f.input :name, label: false %>
    <%= f.button :submit, "Confirme ta première requête", class: "btn btn-input" %>
  <% end %>
</div>
