.profilavatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #e0e0e0;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;


  margin:  auto;
}
.profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;

}
